<div class="component frame">
        <div class="card">
            <div class="card-header backgroundHeader">
                ASSIGN PMO
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-1">
                            <p class="card-text">Employee Id</p>                                
                    </div>
                    <div class="col-2">
                            <input type="text" id="employeeid" placeholder="Enter Email Address">
                    </div>
                    <div class="col-1">
                            <button type="button" class="btn btn-success">Add PMO</button>
                    </div>
                    <div class="col-1">
                            <button type="button" class="btn btn-danger">Remove PMO</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="component frame">
        <div class="card">
            <div class="card-header backgroundHeader">
                PMO USERS
            </div>
            <div class="row action" >
                <div class="col-11" style="text-align: right">
                    <a href="#" class="btn btn-danger">Clear Filter</a>
                </div>
                     <a href="#" class="btn btn-primary backgroundHeader">Download Excel</a>
            </div>
            <div class="row action" >
                <div style="height: 20rem">
    
                </div>
            </div>
        </div>
    </div>
