<nav class="navbar navbar-expand navbar-dark bg-primary">
  <span class="navbar-brand"><i class="fa fa-handshake-o shakingHand"></i><span class="outreach"> Outreach</span><span class="fms"> FMS</span></span>  
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fa fa-plus-square-o"></i> Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fa fa-calendar-check-o"></i> Events</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fa fa-area-chart"></i> Reports</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fa fa-cog"></i> Configuration</a>
      </li>
    </ul>
    <span class="navbar-text">
      <i class="fa fa-user"></i> {{user}}
    </span>
  </div>
</nav>

<app-feedbackquestions></app-feedbackquestions>
<footer class="page-footer font-small blue">
    <div class="footer-copyright text-left py-3">© 2019 Copyright: Outreach Feedback Management System. Cognizant All Rights Reserved.
    </div>
</footer>