<div class="component frame">
    <div class="row">
        <div class="col">
            <div class="card-deck">
                <div class="card eventBody cardShadow">
                    <div class="card-body">
                        <h5 class="card-title">TOTAL EVENTS</h5>
                        <span class="card-text cardText">{{totalEvents}}</span>
                        <div class="pullRight pullUp"><i class="fa fa-desktop eventIcon"></i></div>
                    </div>
                    <div class="card-footer eventFooter pullRight">
                        <small>View Event</small>
                    </div>
                </div>
                <div class="card userBody cardShadow">
                    <div class="card-body">
                        <h5 class="card-title">TOTAL USERS</h5>
                        <span class="card-text cardText">{{totalUsers}}</span>
                        <div class="pullRight pullUp"><i class="fa fa-link userInpm startcon"></i></div>
                    </div>
                    <div class="card-footer userFooter pullRight">
                        <small>View Event</small>
                    </div>
                </div>
                <div class="card volunteerBody cardShadow">
                    <div class="card-body">
                        <h5 class="card-title">TOTAL VOLUNTEERS</h5>
                        <span class="card-text cardText">{{totalVolunteers}}</span>
                        <div class="pullRight pullUp"><i class="fa fa-users volunteerIcon"></i></div>
                    </div>
                    <div class="card-footer volunteerFooter pullRight">
                        <small>View Event</small>
                    </div>
                </div>
                <div class="card participantBody cardShadow">
                    <div class="card-body">
                        <h5 class="card-title">TOTAL PARTICIPANTS</h5>
                        <span class="card-text cardText">{{totalParticipants}}</span>
                        <div class="pullRight pullUp"><i class="fa fa-user-circle participantIcon"></i></div>
                    </div>
                    <div class="card-footer participantFooter pullRight">
                        <small>View Event</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>