<div class="component background">
    <div class="row align-items-center">
        <div class="col-1"></div>
        <div class="col-6">
            <img class="backgroundImage" src="assets/images/login_background.jpg">
        </div>
        <div class="col-3">
            <form>
                <div class="">
                    <p><img class="shakingHand" src="assets/images/shaking-hand.gif"><span class="cognizant">Cognizant</span><span class="outreach"> Outreach</span></p>
                    <p>Feedback Management System</p>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                </div>
                <button type="submit" class="btn btn-success btn-block">SIGN ME IN</button>
                <br/>
                <p>Interested in Outreach? Click to <a href="https://w3schools.com" target="_blank">here</a> register for next events.</p>
            </form>
        </div>
    </div>
</div>